/* Define common variables */
/* Liight Mode */
:root[data-theme="light"] {
  --primary-color: #0f4876;
  --body-background: #f8f8f8;
  --secondary-color: #fff;
  --font-family: "Poppins", sans-serif;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --button-padding: 10px 20px;
  --border-radius: 5px;
  --text-color: #222;
  --table-th-color: #f2f2f2;
  --border-color: 0.2px solid #0f4876;
  --input-field-color: none;
  --input-field-text-color: none;
  --button-color: #d17c24;
  --title-color: #0f4876;
}

/* Dark Mode */
:root[data-theme="dark"] {
  --primary-color: #0f4876;
  --body-background: #070808;
  --secondary-color: #fff;
  --font-family: "Poppins", sans-serif;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --button-padding: 10px 20px;
  --border-radius: 5px;
  --border-color: 0.2px solid #3b3b3b;
  --aside-background: #0e1011;
  --input-field-color: #3b3b3b;
  --input-field-text-color: #f2f2f2;
  --table-th-color: #15191a;
  --button-color: #d17c24;
  --icon-color: #d17c24;
  --nav-color: #0e1011;
  --title-color: #7db5de;
}
html::-webkit-scrollbar {
  width: 8px;
  background: var(--button-color);
  border-radius: 50px;
}

html::-webkit-scrollbar-track {
  box-shadow: var(--box-shadow);
  border-radius: 50px;
}

html::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 50px;
}

* {
  font-family: var(--font-family);
  transition: 0.1s opacity ease;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-background);
}




/* Navbar styling */
.navbar {
  height: 5em;
  background-color: var(--nav-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  z-index: 1;
  border-radius: 5px;
}

.nav-items {
  display: inline-block;
}

i {
  color: var(--title-color);
  font-size: 25px;
  cursor: pointer;
}

img {
  width: 100px;
  margin-left: 10rem;
}

.navbar-title {
  color: var(--title-color);
  margin: 0;
  font-size: 1.5rem;
  /* margin-right: 10rem; */
}

.nav_username{
  width: 20em;
  display: flex;
  justify-content:  space-evenly ;
  align-items: center;
}


/* .login-page {
  width: 100%;
  height: 90vh;
  background-image: url('../Images/BGIMG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;  
  justify-content: center;
  color: var(--secondary-color);
}

.login-page .content{
  padding: 30px;
  display: block;
 text-align: center;
} */


.nav_username h3{
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1em;
}


#toggle-dark-mode {
  color: var(--body-background);
  padding: 10px;
  box-shadow: var(--box-shadow);
  border-radius: 50px;
  background-color: var(--button-color);
  position: fixed;
  top: calc(100% - 100px); 
  right: 50px; 
  z-index: 9999; 
  animation: rotateIcon 8s linear infinite; 
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container styling */
.container-Homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

/* Aside styling */
.aside {
  width: 100%;
  max-width: 310px;
  height: auto;
  padding: 20px;
  background-color: var(--aside-background);
  box-shadow: var(--box-shadow);
  margin-top: 20px;
  transition: 0.5s all ease-in-out;
  border-radius: 5px;
}

.aside h3 {
  margin-top: 0px;
  padding: 12px;
  background: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  color: var(--secondary-color);
}

.aside h3 i {
  margin: 0 1em;
  color: var(--secondary-color);
}

.aside input[type="text"] {
  width: 100%;
  padding: 13px 40px;
  border-radius: var(--border-radius);
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  background-color: var(--table-th-color);
  border: var(--border-color);
  color: var(--input-field-text-color);
  box-shadow: var(--box-shadow);
}
.input-wrapper {
  position: relative;
}

.input-wrapper i {
  position: absolute;
  left: 1em;
  top: 49%;
  transform: translateY(-50%);
  color: var(--icon-color);
  font-size: 15px;
}

.input-wrapper input {
  padding-left: 30px; /* Adjust padding to accommodate icon */
}

.aside button {
  width: 100%;
  padding: var(--button-padding);
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
  transition: 0.1s all linear;
  margin-top: 0;
}

.aside button:hover,
.execute-btn button:hover {
  background-color: var(--primary-color);
}


.checkbox-options {
  display: block;
  align-items: center;
  margin: 15px 0 15px 0;
  /* background-color:  var(--primary-color); */
  color: var(--primary-color);
  padding: 1px 0 12px 12px;
  border-radius: var(--border-radius);
  font-size:  13px;
  font-weight: 500;
}


.checkbox-options label{
  margin: .6em 0 0 0;
}


.checkbox-options label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.checkbox-options input[type="checkbox"] {
  margin-right: 5px;
  width: 1em ;
  height: 1em;
  background-color: var(--button-color);
  color: var(--primary-color);
  padding: 10px;
}

.checkbox-options label:last-child {
  margin-right: 0;
}


/* Information container styling */
.information-container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  max-width: calc(100% - 370px);
  margin-top: 5px;
}

.inner_scetion{
  width: 100%;
  margin: 0px 20px;
}

/* User Page */
.information-container-user {
  flex: 1;
  max-width: 100%;
  margin-top: 5px;
}

.con {
  width: 100%;
  margin: 1em 0;
  background-color: var(--aside-background);
  padding: 20px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  border-radius: 5px;
}

.section-content {
  max-height: 0;
  overflow: hidden;

}
h2 {
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 5px;
  font-size: 1.2em;
  /* cursor: pointer; */
}

h2 i {
  margin: 0 0.5em;
  color: var(--secondary-color);
  font-size: 0.8em;
  cursor: pointer;
}

#information-table,
#groups-table,
#licenses-table,
#domain-table {
  width: 100%;
  margin-top: 20px;
  color: var(--input-field-text-color);
  font-size: 13px;
  transition: transform 0.4s ease-in-out;
}

#information-table td,
#groups-table td,
#licenses-table td,
#domain-table td,
#information-table th,
#groups-table th,
#licenses-table th,
#domain-table th {
  padding: 15px;
  margin: 5px;
  font-size: 13px;
  text-align: left;
}

#information-table th,
#groups-table th,
#licenses-table th,
#domain-table th {
  background-color: var(--table-th-color);
  /* border: 1px solid var(--text-color); */
  color: var(--primary-color);
  border-radius: 2px;
}

.section-content {
  display: table;
  transition: all 0.3s ease-in-out;
}

.section-content.show {
  display: table; /* Change to appropriate display style */
}

/* #emailValidationMessage {

} */
.error-message {
  background-color: #fddfdf;
  border: 1px solid #fe6f6f;
  color: #c91c1c;
  margin: 5px 0 10px 0;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.execute-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  margin: 2em 0;
}

.execute-btn button {
  padding: 10px 25px;
  margin: 0 10px 0 0;
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
  transition: 0.1s all linear;
}

.loading-bar {
  width: 0;
  height: 4px;
  background-color: var(--button-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: width 0.3s ease-in-out;
}

.loading {
  width: 100%;
}

.loading-bar {
  width: 100%;
  height: 5px; /* Adjust height as needed */
  background-color: var(--primary-color); /* Adjust color as needed */
  animation: loading-animation 2s linear ;
}


.loading-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: inherit;
}

@keyframes loading-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


.message-box {
  transition: 0.3s all ease-in-out;
  display: none;
  width: 200px;
  padding: 10px;
  position: fixed;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 9999;
  text-align: center;
  font-weight: 600;
  background-color: #dfe9fd;
  border: 1px solid #6f95fe;
  color: #1c3cc9;
}



/* Add this CSS to your existing styles or create a new CSS file */

.full-page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the loading spinner appears above other content */
}

.full-page-loading .fa-spinner {
  font-size: 3em; /* Adjust the size of the spinner */
  color: #333; /* Adjust the color of the spinner */
}

/* Adjust other styles as needed */

.aside_confirm_section{
  width: 20%;
}


.checkbox-options-confirm{
  width: 84%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
  padding: 2em 0em;

}
.checkbox-options-confirm label{
  margin: .6em;
}
.checkbox-options-confirm input[type="checkbox"] {
  margin-right: 5px;
  width: 1em ;
  height: 1em;
  background-color: var(--button-color);
  color: var(--primary-color);
  padding: 10px;
}

.execute-btn-confirm {
  margin: 2em 0;
}

.execute-btn-confirm button{
  width: 84%;
  padding: 10px 25px;
  margin: 0 10px 0 0;
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
  transition: 0.1s all linear;
}












/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
  img {
    width: 50px;
    margin-left: 1em;
  }
  .nav-icons{
    width: 4em;
  }
  .navbar-title {
    font-size: 1rem;
  }
  i {
    font-size: 15px;
  }
  .aside {
    /* width: 100%; */
    max-width: 300px;
    margin-top: 20px;
  }

  .information-container {
    max-width: 100%;
  }
  h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
  }
  .con {
    margin-top: 1em;
  }
}


