:root {
  --primary-color: #d17c24;
  --error-color: #dc3545;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #0f4876;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-login {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 40px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.container .Logintitle {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-color);
}

form {
  width: 100%;
  display: block;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: calc(100% - 40px);
  padding: 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  outline: none; /* Remove default outline */
  border-color: var(--primary-color); /* Change border color on focus */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Add a box shadow on focus */
}

.form-group button[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.form-group button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  color: var(--error-color);
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  width: calc(100% - 40px);
  font-size: 16px;
}

.google-btn {
  margin-top: 10px;
  background-color: #dc3545;
}

.user-icon {
  padding: 20px;
  border-radius: 5em;
  text-align: center; /* Center the icon horizontally */
  margin-bottom: 20px; /* Add some space between the icon and the title */
  box-shadow: var(--box-shadow);
}

.user-icon svg {
  font-size: 48px; /* Adjust the size of the icon */
  color: var(--primary-color); /* Change the color of the icon */
}

.loading-bar {
  min-height: 1em; /* Ensure visibility */
  background-color: var(--primary-color); /* Loading bar color */
  width: 0%; /* Start with zero width */
  transition: width 0.3s ease; /* Add transition effect */
}

.error-box {
  background-color: #fddfdf;
  border: 1px solid #fe6f6f;
  color: #c91c1c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #c91c1c;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 20px;
  }
}
